<!-- Primer archivo de vistas -->

<!-- Sintaxis ejs para archivos, con la función layouts que específicamente archivos con mensajes embebidos llamados layouts -->
<%. layout('layouts/main.ejs') %>
<h1>Hola mundo</h1>
