

<form action="/signup" method="post">
    <input type="email" name="email" placeholder="Inserte su email">
    <input type="password" name="password" placeholder="Inserte clave">
    <button type="submit">
        Registrar
    </button>
</form>