

<form action="/signup" method="post">
    <input type="email" name="email" placeholder="Inserte su email">
    <input type="password" name="password" placeholder="Inserte clave">
    <input type="text" name="name" placeholder="Inserte su nombre">
    <input type="number" name="phone" placeholder="Inserte su teléfono">
    <input type="text" name="profile" placeholder="Seleccione su tipo de usuario">
    <button type="submit">
        Registrar
    </button>
</form>