<h1>Bienvenido a tu perfil</h1>
<h3>ยก <%= usuario.name %> !</h3>
<h2>ยก <%= usuario.email %> !</h2>
    <div  class="alert alert-danger">
        <p>Eres un Administrador</p>
    </div>

<form action="/logout" method="get">
    <button type="submit">
        Salir
    </button>    
</form>
