<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Se trata del archivo principal que se pintará de manera dinámica en el index -->

    <!-- El contenido dependera de la siguiente variable, sintaxis ejs para variables-->
    <% if(signupMessage){ %>
        <div><%= signupMessage %></div>
    <% } %> 
    
    <%- body %> 


</body>
</html>